@media (min-width: 300px) and (max-width: 1023px) {
  nav {
    background-color: #d8982c;
    color: #ffffff;
    height: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url("/images/bg-img2.png");
  }
  nav span {
    font-family: Bungee, sans-serif;
    padding: 1.5em;
  }
  nav p {
    padding-right: 1.5em;
    margin-bottom: 0%;
  }
  .navhead i {
    padding-left: 40%;
    font-size: 1.5em;
    color: red;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056a1;
    color: #ffffff;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
  }

  nav span {
    font-family: Bungee, sans-serif;
    padding: 1.5em;
  }

  nav p {
    padding-right: 1.5em;
    margin-bottom: 0%;
  }

  .navhead {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navhead i {
    text-align: center;
    font-size: 1.5em;
    color: red;
  }
}
